@use 'sass:map';
@use '../config' as cfg;
@use '../vendor/stalfos/stalfos' as *;

.inner-wrapper {
  max-width: map.get(cfg.$metrics, 'wrap-inner-max-width');
  margin-left: auto;
  margin-right: auto;
  padding-left: get-size(500);
  padding-right: get-size(500);
}
